//slider text animations
.sliderLayer-1,.sliderLayer-2,.sliderLayer-3{
transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s, opacity .25s;
transform: translateY(50px);
transition-duration: 900ms;
opacity: 0;
}
.swiper-slide-active{
    .sliderLayer-1,.sliderLayer-2,.sliderLayer-3{
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s, opacity .2s;
        transform: none;
        opacity: 1;
        transition-delay: .3s;
    }
    .sliderLayer-2{
        transition-delay: .5s;
    }
    .sliderLayer-3{
        transition-delay: .7s;
    }
}

//pagination
.swiper-pagination-bullet{
    transform: scale(.75);
    background-color: currentColor;
    opacity: .5;
    transition: all .4s;
    transform-origin: center;
    &.swiper-pagination-bullet-active{
        opacity: 1;
        transform: scale(1.25);
    }
}